*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --color-primary: #6c63ff;
  --color-success: #00bf8e;
  --color-warning: #f7c94b;
  --color-danger: #f75842;
  --color-danger-variant: rgba(247,88, 66, 0.4);
  --color-white: #ffffff;
  --color-light: rgba(255, 255, 255, 0.7);
  --color-black: #000;
  --color-bg: #1f2641;
  --color-bg1: #2e3267;
  --color-bg2: #424890;
}

.header{
  /* background-color: var(--color-bg2); */
}


/********** company header css *******/
.company-header-main{
  background-color: var(--color-bg2);
  padding: 10px;
}
.company-header{
  width: 80%;
  display: flex;
  gap: 20px;
  margin:  auto;

}
.company-header .new-b{
  padding: 10px 15px;
  outline: none;
  border: none;
  transition: all 0.4s ease;
  background-color: var(--color-danger);
  color: var(--color-white);
  border: 1px solid transparent;
}
.company-header .new-b:hover, .company-header .profile:hover{
  background-color: transparent;
  border-color:  white;
}
.company-header .profile{
  padding: 10px 15px;
  outline: none;
  border: none;
  transform: all 0.4s ease;
  background-color: var(--color-success);
  color: white;
  border: 1px solid transparent;
  font-weight: bold;
}


/********* col function css  *******/
.col-functions-main{
  background-color: var(--color-bg2);
  padding: 10px;
}
.col-functions{
  color: var(--color-white);
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  background-color: var(--color-bg1);
  padding: 15px;
  font-size: 20px;
}
